// Font-family variables
$smallFont: 300;
$regularFont: 400;
$semiboldFont: 600;
$boldFont: 700;

// Size variables
$text-lg: 18px;
$text-xl: 20px;
$text-4xl: 36px;
$text-6xl: 60px;

// Color variables
$green: #86DA44;
$white: #ffffff;
$darkGrey: rgba(255, 255, 255, 0.10);
